@charset "UTF-8";
/* CSS Document */
body { margin:0px; padding:0px; width:100%; height:100%; font-family: Arial, SimSun;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
p{ margin:10px 0px;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/*.clearfix {
	content: " ";
    display: block;
    height: 0;
	line-height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
	}*/

.home_contain { width:100%;}
@media (min-width: 1280px) {
	.home_contain {
		width: 1260px;
	}
}
@media (max-width: 1024px) {
	.home_contain {
		width: 1004px;
	}
}

.home_box { position:relative; margin:0 20px;}
/* IE9+ */
/*@media screen and (min-width:0\0) {
.home_box { top:105px;}
}*/

.top_title { position: relative; top:0px; width:100%; padding:20px 0px 20px 0px; font-size:17px; color:#3B3B3B;}
.account_contain,.status_contain { display:block; width:48.5%; height:235px; /*background:#E9CBCB;*/ float:left; color:#3b3b3b; font-size:15px;}
.status_contain { float:right;}

.ac_title,.status_title { width:100%; height:30px; background:#F4F1F1; border-bottom:#BFBFBF 1px solid; line-height:30px;}
.left_panding { padding-left:10px;}
.acc_box .left_panding { float:left;}
.acc_box,.total_box { width:100%; height:40px; background:#FFFFFF; border-bottom:#E5E5E5 1px solid; line-height:40px; }
.total_box { background:#ecf4e2; border-bottom:#E5E5E5 1px solid; font-weight:bold;}

.acc_info { float:right; padding-right:10px;}
.title_box,.title_box2,.title_box3 { width:19%; height:30px; line-height:30px; float:left; padding-left:10px; white-space:nowrap}
.info_box,.info_box2,.info_box3,.total_info_box2,.total_info_box3 { width:19%; height:40px; line-height:40px; float:left; padding-left:10px;}
.title_box2,.info_box2,.total_info_box2 { float:right; text-align:center; padding:0px;}
.title_box3,.info_box3,.total_info_box3 { width:14.5%; float:right; padding:0px; text-align:center;}
.info_box2 font,.info_box3 font{ cursor:pointer;}
.total_info_box2,.total_info_box3 { cursor:auto;}
.margin_right { margin-right:10px;}

.green { color:#27a67b;}
.gray { color:#8a8a8a;}
.black { color:#3b3b3b;}
.red { color:#7e1414;}

.red_line { border-bottom:#F4DED6 1px solid;}

.important_title,.important_title2 { display:block; width:100%;font-size:15px; margin:26px 0 0 0; height:30px; background:#F4F1F1; border-bottom:#BFBFBF 1px solid; line-height:30px; float:left;}
.important_title2 { margin:0px;}
.important_title span,.important_title2 span { padding-left:10px;}
.important_contain { width:100%; float:left;}
.important_contain table,.viewmore_contain table { width:100%;}
/*IE8---
@media \0screen\,screen\9 {
.important_title,.important_title2 { width:96%;}
.important_contain { width:96%;}
}*/

.anno_tr { height:auto;}
.anno_tr:hover{background: #D7EAFB;}
.anno_tr td { border-bottom:#E5E5E5 1px solid;}
.table_line { text-align:center \9;}
.table_txt { display:block; font-size:15px; padding:19px 0 22px 15px; word-wrap:break-word;}
.table_time { display:block; font-size:15px;padding-left:15px;color:#27a67b;margin-top:17px;}
.date_box { width:100px; height:40px; background:#27a67b; color:#FFFFFF; text-align:center; line-height:16px; font-size:15px; padding-top:11px; margin:0px auto;}

.viewmore_contain { width:100%; padding:20px 0; text-align:center;float:left;}
/*IE8---*/
@media \0screen\,screen\9 {
	.viewmore_contain { width:96%;}
}

.btn_more { width:100px; height:30px; background:#A5A5A5; color:#FFFFFF; border:none; font-size:12px; cursor:pointer; outline:none;}
.btn_more:hover { background-color:#8C8B8B;}
/*大寫字體*/
.CapitalWord{ text-transform:uppercase;}

td.bottom_line, .bottom_line td, div.bottom_line { border-bottom:#BFBFBF 1px solid;}

.account_contain>div:hover{background:#D7EAFB;}
.account_contain>div.ac_title:hover{background:#F4F1F1;}
.status_contain>.acc_box:hover{background:#D7EAFB;}

