.m_tline {  background-image:    url(../../images/control/zh-tw/top_03b.gif)}
tr {  font-family: "Arial"; font-size: 12px}
a:link {  text-decoration: none; color: #0033CC}
a:visited {text-decoration: none;color: #0033CC;}
a:hover {text-decoration: none; color: #FF6600;}
.za_button {  font-family: "Arial"; font-size: 12px; height: 18px; padding-top: 1px; background-color: #FFFFFF; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.za_select {  font-family: "Arial"; font-size: 12px; height: 18px}
.m_tab {  padding-left: 5px; border-color: black #B08A71 #B08A71; padding-bottom: 15px; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.m_cen {  background-color: #FFFFFF; text-align: center}
.za_text {  background-color: #FFFFFF; height: 18px; padding-right: 2px; padding-left: 2px; border: 1px #000000 solid; font-family: "Arial"; font-size: 12px; margin-bottom: 2px}
.za_dot {  height: 12px; width: 12px; margin-bottom: 2px}
.mou { font-size: 12px; color: #0033CC; padding-top: 3px; text-align: center; background-color: #ECE9D8}
.m_title { background-color: #99CCCC; text-align: center}
.m_top { border-color: #B08A71 black black #B08A71; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 1px }
.m_tab_main { padding-left: 2px; padding-right: 2px; padding-top: 3px}
.m_foot {  font-size: 11px; padding-top: 2px}
.m_title_he {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	background-color: #990000;
	color: #FFFFFF;
}
.m_title_he1 {background-color: #ECE9D8;border-top-style: solid;border-bottom-style: ridge;border-top-color: #2F4540;border-bottom-color: #A0998F;border-top-width: 1px;border-bottom-width: 2px;}
.m_title_he2 {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	background-color: #ECE9D8;
	border-top-width: 1px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: ridge;
	border-top-color: #2F4540;
	border-bottom-color: #A0998F;
}
.za_text_card { background-color: #FFFFFF; height: 18px; padding-right: 2px; padding-left: 2px; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-family: "Arial"; font-size: 12px; width: 37px ; margin-bottom: 2px}

.scolor_1 {background-color: #FFFF99;}
.scolor_2 {background-color: #fdd9e6;}
.scolor_3 {background-color: #FFCC99;}
.scolor_4 {background-color: #d4caff;}
.scolor_5 {background-color: #dbff9a;}
