td{font-family: "Arial";font-size: 12px;}
.sline {padding-top: 3px;padding-left: 6px;white-space: nowrap;}
a:link {  text-decoration: none; color: #0033CC}
a:visited {text-decoration: none;color: #0033CC;}
a:hover {text-decoration: none; color: #FF6600;}
.top_color {padding-top: 3px; padding-right: 3px; padding-left: 7px ;background-color: #990000;color: #FFFFFF;}
.coolBar {background-color: #ECE9D8;border-top-style: solid;border-bottom-style: ridge;border-top-color: #2F4540;border-bottom-color: #A0998F;border-top-width: 1px;border-bottom-width: 2px;}
.coolButton{text-align: center;cursor: hand;}
.bacc {position:absolute;margin-left:25px;}
.bacc a { text-decoration:none; }
.bacc a:link, .bacc a:visited {color:#FF6; }
.bacc a:hover { color:#FCF;}
.rig {
	position: absolute;
	color: #FFFFFF;
	right: 5%;
	z-index: 3;
}
.left {
	left: 340px;
	top: 2px;
	position: absolute;
}
.rig a:link, .rig  a:visited{color: #FFFFFF;text-decoration: none;}
.rig a:hover,.rig a:active {color: #FFFF00;}

.info {
	font-size:0.75em;
	top: 8px;
	position: absolute;
	background-image: url(../../images/index/head_icon.gif);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 7px;
	left: 70px;
}
.info  td {
	list-style-type: circle;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	font-size: 0.75em;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 2px groove #BBBBA6;
	background-color: 000066;
	moz-opacity:0.1;
	opacity: 0.1;	/*filter:alpha(opacity=90);*/
}

#mose a {
	/*padding:4px 4px 1px 10px;*/
	background-position: 2px;
	/*padding-left: 5px;*/
}
#mose a:link, #mose a:visited {
	color: #FFFFFF;
}
#mose a:hover {
	color: #FFFF00;
}
.DIVnum {
	position: absolute;
	top: 5px;
	right:110px;
}
body {
	display: block;
}
.vpn  {
	background-image: url(/images/2004/head_down.png);
	height: 25px;
	width: 110px;
	padding-top: 6px;
	/*IE6 */  
    _background: transparent;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/2004/head_down.png', sizingMethod='scale');
	color: #630;
	display: inline;
	padding-left: 30px;
	float: left;
	position: absolute;
}
.vpn a {
	color: #630;
	letter-spacing: 0.1em;
	background-image: url(/images/2004/head_down.png);
}
.vpn a:hover {
	color: #03C;
}