TR {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial"
}
A:link {
	FONT-WEIGHT: bold; COLOR: #cc0000; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #000066
}
A:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.b_ad {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 15px; BACKGROUND-IMAGE: url(../../images/member/body_ad_12b.gif); COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: "Arial"
}
.b_tab {
	BORDER-RIGHT: #a4b3cd 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a4b3cd 2px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a4b3cd 2px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #a4b3cd 2px solid; BACKGROUND-COLOR: #aab9d3
}
.b_title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(../../images/member/body_title_ph12b.gif); PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 4px
}
.b_hline {
	BACKGROUND-COLOR: #dadada; TEXT-ALIGN: center
}
.b_lef {
	BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.b_cen {
	BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.b_rig {
	BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.b_fwn {
	FONT-WEIGHT: normal
}
.za_button {
	PADDING-RIGHT: 1px; FONT-SIZE: 12px; MARGIN-BOTTOM: 2px; FONT-FAMILY: "Arial"; HEIGHT: 18px
}
.za_text {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Arial"; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.za_dot {
	MARGIN-BOTTOM: 2px; WIDTH: 12px; HEIGHT: 12px
}
.b_tline_ft {
	PADDING-TOP: 3px; BACKGROUND-COLOR: #c2d1eb; TEXT-ALIGN: center
}
.b_pradio {
	FONT-WEIGHT: bold; COLOR: #cc0000; BACKGROUND-COLOR: #e4f0f3
}
.b_radio {
	FONT-WEIGHT: bold; COLOR: #006600; BACKGROUND-COLOR: #e4f0f3
}
.b_rig_02 {
	PADDING-RIGHT: 5px; TEXT-ALIGN: right
}
.b_foot {
	FONT-SIZE: 11px; TEXT-ALIGN: right
}
.za_select {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; HEIGHT: 18px
}
BODY {
	PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffff
}
.b_sw {
	COLOR: #ffff00
}
.b_sw A:link {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.b_sw A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.b_sw A:visited {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.b_sw A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
