.za_select {  font-family: "Arial"; font-size: 12px; height: 20px; margin-bottom: 2px}
.za_text {  font-family: "Arial"; font-size: 12px; background-color: #CCCCCC; border: 1px #000000 solid; margin-bottom: 2px}
.word {  font-family: "Arial"; font-size: 13px; text-align: right; padding-right: 3px}
.za_button {  font-family: "Arial"; font-size: 12px; background-color: #CCCCCC; height: 20px; padding-top: 1px}
tr {  font-family: "Arial"}
