/*~   For Si2  2007-11-13   ~*/
/*~~~~~~~~~~~~~~~~~~~~~~~New style~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html, body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-image: url(../../images/2004/inda_bg.jpg);
}
#download td {
	background-color: #FCCC00;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: bottom;
}
#download .title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #BA9C3A;
	background-image: url(../../images/2004/download_logo.jpg);
	width: 700px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 140px;
	background-repeat: no-repeat;
	text-align: left;
	white-space: normal;
	padding-right: 10px;
}
#download tr .title li {
	width: 300px;
	list-style-position: outside;
	list-style-type: none;
}
#download .button {
	position: relative;
	float: right;
	clear: none;
}
#download .word {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	width: 32%;
	padding-right: 20px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	white-space: normal;
	list-style-position: outside;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BA9C3A;
	padding-bottom: 10px;
}
#download font {
	font-size: 16px;
	color: #900;
	position: absolute;
	float: left;
	left: 10px;
	top: 58px;
}
ul, ol { margin: 0px;}
table {	border: 2px solid #BC9A3F;}
td {	border: 1px solid #B9B9A3;}
#download tr .title p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	color: #09F;
	margin: 0px;
	padding: 0px;
}
